
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
    display: block;
}
audio, canvas, video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
html {
    font-family: sans-serif;
}
body {
    margin: 0;
}
a:focus {
    outline: thin dotted;
}
a:active, a:hover {
    outline: 0 none;
}
abbr[title] {
    border-bottom: 1px dotted;
}
b, strong {
    font-weight: bold;
}
dfn {
    font-style: italic;
}
mark {
    background: #ff0 none repeat scroll 0 0;
    color: #000;
}
code, kbd, pre, samp {
    font-family: monospace,serif;
    font-size: 1em;
}
pre {
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
q {
    quotes: "“" "”" "‘" "’";
}
small {
    font-size: 80%;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}
img {
    border: 0 none;
}
svg:not(:root) {
    overflow: hidden;
}
figure {
    margin: 0;
}
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0 none;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ul, ol, ul li, ol li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body {
    color: #3b3b3b;
    font-family: Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    line-height: 16px;
}
a {
    color: #57b382;
    text-decoration: none;
}
a:hover {
    color: #429368;
    transition: color 0.2s ease-in 0s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Helvetica,Arial,sans-serif;
    font-weight: normal;
    line-height: 1;
    margin: 8px 0;
}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
    color: #999;
    font-weight: normal;
    line-height: 1;
}
h1 {
    font-size: 26px;
    line-height: 40px;
}
h2 {
    font-size: 22px;
    line-height: 36px;
}
h3 {
    font-size: 18px;
    line-height: 34px;
}
h4 {
    font-size: 16px;
    line-height: 30px;
}
h5 {
    font-size: 14px;
    line-height: 22px;
}
h6 {
    font-size: 12px;
    line-height: 20px;
}
address {
    margin-bottom: 32px;
}
h1 {
    font-size: 24px;
    line-height: 48px;
}
dl {
    margin: 20px 0;
}
dl dt, dl dd {
    font-size: 14px;
    line-height: 1.6em;
}
dl dd {
    margin-bottom: 12px;
}
[class^="grid_"] {
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
.grid_1 {
    width: 0.166667%;
}
.grid_2 {
    width: 4.33333%;
}
.grid_3 {
    width: 8.5%;
}
.grid_4 {
    width: 12.6667%;
}
.grid_5 {
    width: 16.8333%;
}
.grid_6 {
    width: 21%;
}
.grid_7 {
    width: 25.1667%;
}
.grid_8 {
    width: 29.3333%;
}
.grid_9 {
    width: 33.5%;
}
.grid_10 {
    width: 37.6667%;
}
.grid_11 {
    width: 41.8333%;
}
.grid_12 {
    width: 46%;
}
.grid_13 {
    width: 50.1667%;
}
.grid_14 {
    width: 54.3333%;
}
.grid_15 {
    width: 58.5%;
}
.grid_16 {
    width: 62.6667%;
}
.grid_17 {
    width: 66.8333%;
}
.grid_18 {
    width: 71%;
}
.grid_19 {
    width: 75.1667%;
}
.grid_20 {
    width: 79.3333%;
}
.grid_21 {
    width: 83.5%;
}
.grid_22 {
    width: 87.6667%;
}
.grid_23 {
    width: 91.8333%;
}
.grid_24 {
    width: 96%;
}
@media screen and (max-width: 480px) {
    div[class^="grid_"] {
        display: block;
        float: none;
        margin: 0;
        width: 100%;
    }
}
.clearfix {
    clear: both;
}
.btn {
    background: #3b3b3b none repeat scroll 0 0;
    border: 0 none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Microsoft Yahei,Hiragino Sans GB,WenQuanYi Micro Hei,sans-serif;
    font-size: 14px;
    margin: 0 3px 0 0;
    padding: 12px 20px;
    text-align: center;
    vertical-align: middle;
}
.btn:hover {
    background: #383838 none repeat scroll 0 0;
    color: #f2f2f2;
    text-decoration: none;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
    vertical-align: top;
}
.btn-huge {
    border-radius: 50px;
    font-size: 18px;
    margin-right: 20px;
    padding: 20px 30px;
}
.btn-huge .icon {
    font-size: 18px;
}
.btn-primary {
    background: #57b382 none repeat scroll 0 0;
    color: #fff;
}
.btn-primary:hover {
    background: #4ba575 none repeat scroll 0 0;
}
.btn-highlight {
}
.btn-highlight:hover {
}
.btn-loading {
    background: #555 none repeat scroll 0 0;
    color: #fff;
}
.btn-loading:hover {
    background: #4d4d4d none repeat scroll 0 0;
}
.btn-session {
    font-size: 18px;
    width: 190px;
}
.btn-disabled, .btn-forbidden, .btn-disabled:hover, .btn-forbidden:hover {
    background: #eee none repeat scroll 0 0;
    color: #999;
    cursor: no-drop;
    text-shadow: 1px 1px #fff;
}
.btn-cancel {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #3b3b3b;
}
.btn-cancel:hover {
    background: #d6d6d6 none repeat scroll 0 0;
    color: #353535;
}
.btn-outline {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #57b382;
    color: #57b382;
}
.btn-outline:hover {
    background: #57b382 none repeat scroll 0 0;
    color: #fff;
}
code {
    background: #eee none repeat scroll 0 0;
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    color: #d14;
    font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
    margin: 0 8px;
    padding: 2px 4px;
    white-space: nowrap;
    word-break: keep-all;
}
.highlight-python {
    background: #f0f0f0 none repeat scroll 0 0;
    font-family: monospace,Monaco,Menlo,Consolas,"Courier New";
    margin: 5px 0 10px;
}
.highlight-python pre {
    font-family: monospace,Monaco,Menlo,Consolas,"Courier New";
    padding: 10px;
}
.highlight-rest {
    font-family: monospace,Monaco,Menlo,Consolas,"Courier New";
    margin: 5px 0 10px;
}
.highlight-rest pre {
    font-family: monospace,Monaco,Menlo,Consolas,"Courier New";
    padding: 10px;
}
.highlight-none {
    font-family: monospace,Monaco,Menlo,Consolas,"Courier New";
    margin: 5px 0 10px;
}
.highlight-none pre {
    background: #292929 none repeat scroll 0 0;
    color: #fff;
    font-family: monospace,Monaco,Menlo,Consolas,"Courier New";
    padding: 10px;
}
table {
    clear: both;
    width: 100%;
}
table caption {
    display: none;
}
table th, table td {
    empty-cells: show;
    font-family: "Microsoft Yahei","微软雅黑",Tahoma,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
    text-align: left;
}
table th {
    background: #eee none repeat scroll 0 0;
    border: 0 none;
    font-size: 14px;
    font-weight: bold;
}
table {
    border: 0 none;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 40px;
    max-width: 100%;
}
table td, table th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: currentcolor currentcolor #e8e8e8;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 1px;
}
table tbody tr:hover td, table tbody tr:hover td {
    background: #e7f4fb none repeat scroll 0 0;
}
img {
    display: block;
    margin: 15px auto;
}
@font-face {
    font-family: "Entypo";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/entypo.woff?v=1") format("woff"), url("../fonts/entypo.eot?v=1"), url("../fonts/entypo.eot?#iefix?v=1") format("embedded-opentype"), url("../fonts/entypo.ttf?v=1") format("truetype"), url("../fonts/entypo.svg#entypo?v=1") format("svg");
}
[class^="icon-"], [class*=" icon-"] {
    font-size: 14px;
    vertical-align: middle;
}
[class^="icon-"]::after, [class*=" icon-"]::after, [class^="icon-"]::before, [class*=" icon-"]::before {
    display: inline-block;
    font-family: Entypo;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
    width: 1em;
}
.icon-home::before {
    content: "⌂";
}
.icon-features::before {
    content: "";
}
.icon-pricing::before {
    content: "";
}
.icon-documents::before {
    content: "";
}
.icon-console::before {
    content: "";
}
.icon-joinus::before {
    content: "J";
}
.icon-weibo::before {
    content: "";
}
.icon-twitter::before {
    content: "";
}
.icon-email::before {
    content: "✉";
}
.admonition {
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    line-height: 1.6em;
    margin: 12px 0;
    padding: 10px;
}
.admonition p {
    display: inline;
    line-height: 1.6em;
    margin: 0;
}
.note {
    background: #d9edf7 none repeat scroll 0 0;
    border-color: #c6e4f3;
    color: #3a87ad;
}
.warning {
    background: #fcf8e3 none repeat scroll 0 0;
    border-color: #faf3cd;
    color: #c09853;
}
.error {
    background: #f2dede none repeat scroll 0 0;
    border-color: #ebcdcd;
    color: #b94a48;
}
.success {
    background: #dff0d8 none repeat scroll 0 0;
    border-color: #d1eac8;
    color: #468847;
}
.document, .viewport-inner {
    margin: 0 auto;
    width: 1170px;
}
.document {
    padding: 30px 0;
}
.related {
    background: #3e3d49 none repeat scroll 0 0;
    overflow: hidden;
    width: 100%;
}
.related h3 {
    display: none;
}
.related ul {
    margin: 0 auto;
    width: 1170px;
}
.related li {
    color: #fff;
    display: inline-block;
    float: left;
}
.related li {
    display: inline-block;
    float: left;
    font-size: 14px;
    padding: 20px 30px;
}
.related li a {
    color: white;
}
.related li:hover {
    background: #353644 none repeat scroll 0 0;
    color: #fff;
}
.related li.right {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    float: right;
    padding: 20px 0;
}
.related li.right a {
    padding: 0 10px;
}
.hide {
    display: none;
}
#header {
    background: #353644 none repeat scroll 0 0;
    height: 70px;
}
.header-logo {
    background-image: url("../images/logo_1x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 70px;
    text-indent: -9999px;
    width: 170px;
}
.header-nav {
    float: right;
    margin: 0;
    padding: 0;
}
.header-nav .nav-item {
    border-top: 3px solid transparent;
    display: inline-block;
    left: 0;
    position: relative;
    top: 0;
}
.header-nav .nav-item a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    outline: 0 none;
    padding: 24px 20px 27px;
    text-align: center;
    vertical-align: middle;
}
.header-nav .nav-item:hover {
    color: #57b382;
}
.header-nav .nav-item:hover .items {
    display: block;
}
.header-nav .nav-item.selected {
    border-top: 3px solid #57b382;
}
.header-nav .items {
    background: #57b382 none repeat scroll 0 0;
    display: none;
    left: -40px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 67px;
    width: 150px;
    z-index: 3;
}
.header-nav .items::before {
    border-color: transparent transparent #57b382;
    border-style: solid;
    border-width: 6px;
    content: "";
    left: 69px;
    position: absolute;
    top: -12px;
}
.header-nav .items li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.header-nav .items li a {
    color: #fff;
    display: block;
    font-size: 14px;
    line-height: 32px;
    padding: 4px 20px;
    text-align: left;
}
.header-nav .items li a:hover {
    background: #4ba575 none repeat scroll 0 0;
}
.nav-item.solution .items, .nav-item.customers .items {
    left: -23px;
}
.header-account {
    float: right;
    padding: 19px 10px;
}
.header-account .btn-signin {
    font-size: 16px;
    line-height: 20px;
    padding: 5px 20px;
    vertical-align: middle;
}
.header-account .btn-signup {
    font-size: 14px;
    line-height: 20px;
    padding: 6px 21px;
    vertical-align: middle;
}
.header-account .gravatar {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100px;
    display: block;
    height: 32px;
    width: 32px;
}
.header-account .user-links {
    position: relative;
}
.header-account .user-links ul {
    display: none;
    left: -59px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 51px;
    width: 150px;
    z-index: 3;
}
.header-account .user-links ul::before {
    border-color: transparent transparent #57b382;
    border-style: solid;
    border-width: 6px;
    content: "";
    left: 69px;
    position: absolute;
    top: -12px;
}
.header-account .user-links ul li {
    list-style-type: none;
}
.header-account .user-links ul li a {
    background: #57b382 none repeat scroll 0 0;
    color: #fff;
    display: block;
    line-height: 32px;
    padding: 4px 20px;
    text-align: left;
}
.header-account .user-links ul li a:hover {
    background: #4ba575 none repeat scroll 0 0;
}
.header-account:hover .user-links ul {
    display: block;
}
.footer-logo {
    background-image: url("../images/footer_logo_1x.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 90px;
    text-indent: -9999px;
    width: 140px;
}
.footer-navs {
    background: #3e3d49 none repeat scroll 0 0;
    padding: 80px 0;
}
.footer-navs .footer-nav {
    margin: 0;
    padding: 0;
}
.footer-navs .grid_3 {
    margin: 0;
    width: 16%;
}
.footer-navs p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 12px;
    text-align: center;
}
.footer-navs p a {
    color: rgba(255, 255, 255, 0.6);
}
.footer-navs p a:hover {
    color: #fff;
}
.footer-navs li {
    list-style-type: none;
}
.footer-navs h4 {
    line-height: 20px;
}
.footer-navs h4 a {
    color: #fff;
}
.footer-navs h4 span {
    color: #eee;
    display: block;
    font-size: 12px;
    font-weight: normal;
    text-transform: capitalize;
}
.footer-navs .items {
    line-height: 1.6em;
    margin-bottom: 20px;
    padding: 0;
}
.footer-navs .items a {
    color: rgba(255, 255, 255, 0.6);
}
.footer-navs .items a:hover {
    color: #fff;
}
.footer-signup {
    background: #353644 none repeat scroll 0 0;
    color: #fff;
}
.footer-signup .viewport-inner {
    overflow: hidden;
    padding: 40px 0;
}
.footer-signup p {
    float: left;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}
.footer-signup .btn {
    float: right;
    margin-right: 0;
}
.document {
    overflow: hidden;
}
.sphinxsidebar {
    float: left;
    width: 240px;
}
.documentwrapper {
    float: right;
    width: 880px;
}
.documentwrapper .headerlink {
    display: none;
    font-size: 18px;
    padding: 0 10px;
    vertical-align: top;
}
.documentwrapper h1:hover .headerlink, .documentwrapper h2:hover .headerlink, .documentwrapper h3:hover .headerlink {
    display: inline;
}
.documentwrapper p {
    font-size: 16px;
    line-height: 1.6em;
    margin: 5px 0 20px;
}
.documentwrapper .section {
    color: #555;
    font-size: 14px;
    line-height: 1.6em;
    margin: 10px 0 50px;
}
.documentwrapper .section p {
    font-size: 14px;
    margin: 0 0 12px;
}
.documentwrapper .section p.rubric {
    border-bottom: 1px solid #eee;
    font-size: 16px;
    line-height: 2em;
    margin-top: 40px;
}
.documentwrapper .section ul {
    margin: 12px 0;
}
.documentwrapper .section ul li {
    list-style-position: inside;
    list-style-type: disc;
    padding-left: 2em;
}
.documentwrapper .section ol li {
    list-style-position: inside;
    list-style-type: decimal;
    padding-left: 2em;
}
.documentwrapper .section .question {
    color: #1f90c8;
    margin-bottom: 5px;
}
.documentwrapper .section .answer {
    margin-bottom: 15px;
}
.documentwrapper .section h4 {
    margin-top: 40px;
    text-indent: 2em;
}
.documentwrapper .section .highlighted {
    background: #fcfc03 none repeat scroll 0 0;
    padding: 3px;
}
.sphinxsidebarwrapper h3 {
    display: none;
}
.sphinxsidebarwrapper ul li a {
    background: #3e3d49 none repeat scroll 0 0;
    border-bottom: 1px solid #353644;
    color: #eee;
    display: block;
    font-size: 14px;
    line-height: 1.6em;
    padding: 10px 15px;
}
.sphinxsidebarwrapper ul li a:hover {
    background: #353644 none repeat scroll 0 0;
}
.sphinxsidebarwrapper ul li li a {
    background: #eee none repeat scroll 0 0;
    border-bottom: 1px solid #e2e2e2;
    color: #555;
}
.sphinxsidebarwrapper ul li li a:hover {
    background: #e2e2e2 none repeat scroll 0 0;
}
.sphinxsidebarwrapper ul li li li a {
    background: #f5f5f5 none repeat scroll 0 0;
    border-bottom: 0 none;
    color: #999;
    text-indent: 1em;
}
.sphinxsidebarwrapper ul li li li a:hover {
    background: #e9e9e9 none repeat scroll 0 0;
}
.sphinxsidebarwrapper ul li li li li a {
    background: #f9f9f9 none repeat scroll 0 0;
    border-bottom: 0 none;
    color: #999;
    overflow-wrap: break-word;
    text-indent: 2em;
    word-break: break-all;
}
.sphinxsidebarwrapper ul li li li li a:hover {
    background: #eee none repeat scroll 0 0;
}
.sphinxsidebarwrapper > li {
    margin-top: 20px;
}
.sphinxsidebarwrapper > li:first-child {
    margin-top: 0;
}
.sphinxsidebarwrapper h4 {
    color: #ccc;
    font-size: 12px;
}
#searchbox {
    margin: 30px 0 0;
}
input[type="text"] {
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 5px 10px;
}
input[type="submit"] {
    background: #222 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    padding: 6px 17px;
}
#searchbox .searchtip {
    color: #ccc;
    font-style: italic;
}
img.screenshot {
    border: 1px solid #bbb;
    box-shadow: 0 0 30px #ccc;
}
.arabic {
    margin: 20px 0;
}
.line-block {
    margin: 20px 0;
}
li.current.toctree-l3 a.current {
    background-color: #c2e3d1;
}
body.mobile-app #header {
    display: none;
}
body.mobile-app .footer {
    display: none;
}
body.mobile-app .documentwrapper {
    float: left;
    width: 100%;
}
body.mobile-app .sphinxsidebar {
    display: none;
    float: none;
    width: 30%;
}
body.mobile-app .document, body.mobile-app .viewport-inner {
    margin: 20px;
    width: auto;
}
body.mobile-app img.screenshot {
    width: 90%;
}
